body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Top of page */

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0px 8px;
    transition: color .4s;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: auto;
    background-color: #1F2937;
    padding: 24px 258px;
}

.header * {
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
}

.hero-main {
    display: flex;
    flex: 1 0 80%;
    align-items: center;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-basis: 50%;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
}

.hero-img  img{
    width: 500px;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #F9FAF8;
}

.hero-btn input {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 800;
    padding: 2px 12px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: none;
    transition: background-color .5s;
}

/* Change background color / color of buttons / inputs / links */
a:hover {
    color: plum;
}

input:hover {
    background-color: plum;
}

/* Center piece of page */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: plum;
    flex: 1 1 0;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F3927;
    padding-top: 24px;
}

.photo-row {
    display: flex;
}

/* Go back to project with flowers and text
to figure out how to do it here */

.pic {
    padding: 12px;
}

.pic img {
    width: 240px;
    height: 240px;
}

/* Bottom of page */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}